# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
pip-log.txt
pip-delete-this-directory.txt
*.log

# GitHub Pages
_site/
.sass-cache/
.jekyll-cache/

# General
.DS_Store
*.bak
*.swp
*.tmp
*.temp

# Sensitive files
config.json
secrets.json
*.key
*.pem
